**/__pycache__

.idea

project_example/east_text_detection/local_model
project_example/face_recognition/dataset
project_example/face_recognition/local_model
project_example/mtcnn_face_detect_pnet/dataset/test
project_example/mtcnn_face_detect_pnet/dataset/train
project_example/mtcnn_face_detect_pnet/dataset/WIDER_test
project_example/mtcnn_face_detect_pnet/dataset/WIDER_train
project_example/mtcnn_face_detect_pnet/dataset/WIDER_val
project_example/resnet_v1_32_classify/dataset/cifar-10-batches-py
project_example/resnet_v1_32_classify/model/resnet_v1_32
project_example/cnn_object_detection(single_rectangle)/model
project_example/license_plate_detect/dataset
project_example/license_plate_detect/dataset/indian_number_plates

datasets/models/vgg/vgg_scipy/imagenet-vgg-verydeep-19.mat
datasets/models/LeNet_model
datasets/data/mnist
datasets/data/flowers
datasets/data/license_plate
datasets/classical_model/vgg16

classical_net/vgg/vgg16/vgg16_license_plates_detect/model
classical_net/vgg/vgg16/vgg16_flower_classify/model

